{% extends 'layout.html' %}
{% block body %}
<div class="page-content">
<div class="jumbotron bg-primary text-white text-center mt-5">
  <h1>Employee Database System</h1>
  <p>All the people for your company suppose fit link from one angle, na the angle be this</p><br>
  {% if current_user.is_authenticated %}
  <a href="{{url_for('admin.admindashboard')}}" class="btn btn-outline-light text-dark mb-n2">Dashboard</a>
  <a href="{{url_for('employees.logout')}}" class="btn btn-light text-primary mb-n2">Logout</a>
  {% else %}
  <a href="{{url_for('admin.signin')}}" class="btn btn-outline-light text-white mb-n2">Admin Login</a>
    <a href="{{url_for('admin.signup')}}" class="btn btn-light text-primary mb-n2">Register Admin</a>
  {% endif %}
</div>

<h5 class="mt-3 mb-3 ml-1">About us</h5>
<div class="card" id="content">
    <div class="card-body">
      <p class="card-text">Na project we dey do, we no kill person</p>
    </div>
</div>
<h5 class="mt-4 mb-3 ml-1">How it works</h5>
<div class="card mb-3">
	<div class="card-body">
		<p class="text-muted card-text mb-4 pb-2">For this our platform, you fit register employee so far say you be admin, you fit also create departments for where people dey work and also you fit still create grades wey go dey determine payment of salary to people wey dey different departments. As you fit create grades, make you for no go loose guard as per admin wey you fit be come create salary for yourself wey go be kpojome.</p>
	</div>
</div>
</div>
{% endblock %}