<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>EDS - {{title}}</title>
	<!-- bootstrap:css -->
	<link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
	<!-- endinject -->
	<!-- main css for this page -->
  <link rel="stylesheet" href="../static/assets/css/index.css">
	<!-- end main css for this page -->
</head>
<body>
	

  <script type="text/javascript" src="../static/js/jquery.js"></script>  
  <script type="text/javascript" src="../static/js/popper.js"></script>

	<!-- bootstrap:js -->
	<script src="../static/assets/bootstrap/bootstrap.min.js"></script>
	<!-- endinject -->
</body>
</html>